@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Poppins:wght@500&display=swap');

.register-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #083D81;
  font-family: 'Poppins';
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

form {
  display: flex;
  flex-direction: column;
  color: #083D81;
  font-family: 'Poppins';
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #083D81;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #FFF;
  font-family: 'Poppins';
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

button:hover {
  background-color: #083D81;
  ;
}