@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Poppins:wght@500&display=swap');

.body-container {
    display: flex;
    justify-content: center;
} 

.icon {
    width: 100px;
    height: 100px;
}

.icons-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.icon-container h2 {
    color: #000;
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    margin: 0px;


}

.icon-container p {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-style: normal;
    line-height: normal;
    margin-right: 15px;
    text-decoration: none;
    margin-top: 0px;
}